body{
    margin:0;
    background: black;
  }
  
  .wrap {
    width: 100%;
    height: 100vh;
    position:relative;
    background: url(http://img13.deviantart.net/2414/i/2009/282/e/9/sintra_street_view_wip_by_jenovah_art.jpg) center/cover;
  }
  
  .img01{
    width: 180px;
    height: 400px;
    position: absolute;
    bottom: 5%;
    right: 15%;
    cursor: pointer;
    background: url(http://img08.deviantart.net/9f22/i/2011/024/a/4/gaara_png_by_hidan_sama1408-d37xujk.png) center/cover;
  }
  
  .img02{
    width: 240px;
    height: 410px;
    position: absolute;
    bottom: 4%;
    left: 15%;
    cursor: pointer;
    background: url(http://static.comicvine.com/uploads/original/11123/111238279/4671250-5982223330-latest) center/cover;
  }
  
  .wrapAct01 {
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    background: #232323;
    opacity: 0.8;
    z-index: 99;
    display: none;
    transition: 0.5s;
  }
  
  .img01A {
    width: 60%;
    height: 60vh;
    position: absolute;
    top: 20vh;
    left: 0;
    background: url(http://orig07.deviantart.net/0117/f/2010/185/4/e/sabaku_no_gaara_by_demarthl.png) center/cover;
    z-index: 100;
    display: none;
    transition: 1s;
  }
  
  .img01B {
    width: 50%;
    height: 60vh;
    position: absolute;
    top: 20vh;
    right: 0;
    background: url(https://4.bp.blogspot.com/-lu0IkB-2DNY/VOYChxiiUmI/AAAAAAAACUU/ukYzeVgCbeo/s1600/Kazekage%2BGaara4.png) center/cover;
    z-index: 100;
    display: none;
    transition: 1s;
  }
  
  .img01C {
    width: 60%;
    height: 60vh;
    position: absolute;
    top: 20vh;
    left: 0;
    background: url(http://img11.deviantart.net/3f8e/i/2013/261/5/2/gaara_del_desierto_render_by_lwisf3rxd-d6mt7tp.png) center/cover;
    z-index: 100;
    display: none;
    transition: 1s;
  }
  
  .img01D {
    width: 70%;
    height: 70vh;
    position: absolute;
    top: 30vh;
    background: url(http://orig00.deviantart.net/9ee6/f/2011/359/e/9/shukaku_by_xuzumaki-d4k89r9.png) center/cover;
    z-index: 100;
    display: none;
    transition: 1s;
  }
  
  .img01E {
    width: 40%;
    height: 60vh;
    position: absolute;
    top: 30vh;
    background: url(https://40.media.tumblr.com/f84b578f1f41f78e880f60809260c235/tumblr_mjyxn0SdO01s5evlao1_1280.png) center/cover;
    z-index: 100;
    display: none;
    transition: 1s;
  }
  
  .img02A {
    width: 60%;
    height: 60vh;
    position: absolute;
    top: 20vh;
    right: 0;
    background: url(http://pre13.deviantart.net/0536/th/pre/i/2014/053/7/d/png_sasuke_storm_3_by_xanloz-d77ixl5.png) top/cover;
    z-index: 100;
    display: none;
    transition: 1s;
  }
  
  .img02B {
    width: 60%;
    height: 60vh;
    position: absolute;
    top: 20vh;
    left: 0;
    background: url(http://img15.deviantart.net/6146/i/2013/091/f/9/sasuke_hebi_battle_damaged___lineart_colored_by_dennisstelly-d5vhwlt.png) top/cover;
    z-index: 100;
    display: none;
    transition: 1s;
  }
  
  .img02C {
    width: 60%;
    height: 60vh;
    position: absolute;
    top: 20vh;
    left: 0;
    background: url(http://www.fotos-top.com/items/naruto-y-sasuke-shippuden-19869.jpg) center/cover;
    z-index: 100;
    display: none;
    transition: 1s;
  }
  
  .img02D {
    width: 70%;
    height: 70vh;
    position: absolute;
    top: 30vh;
    background: url(http://t07.deviantart.net/UUhLtP3D8nLhK1vqdQeur-g8rh4=/300x200/filters:fixed_height%28100,100%29:origin%28%29/pre15/42aa/th/pre/f/2010/144/2/6/free_chidori_by_dark_princess_alice.png) center/cover;
    z-index: 100;
    display: none;
    transition: 1s;
    animation: sharingan 0.5s linear infinite;
  }
  
  .img02E {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 30vh;
    background: url(http://img4.wikia.nocookie.net/__cb20130302042356/thenarutofanon/images/8/82/300px-Mangekyou_Sharingan_Shisui.svg.png) center/cover;
    z-index: 100;
    display: none;
    transition: 1s;
    animation: sharingan 0.5s linear infinite;
  }
  
  @keyframes sharingan {
    0%{
      transform: rotate(0deg)
    }
    50%{
      transform: rotate(180deg)
    }
    100%{
      transform: rotate(360deg)
    }
  }
  
  @keyframes damage01 {
    0%{
      right: 10%;
    }
    12%{
      right: 15%;
    }
    25%{
      right: 11%;
    }
    37%{
      right: 15%;
    }
    50%{
      right: 12%;
    }
    62%{
      right: 15%;
    }
    75%{
       right: 11%;
    }
    87%{
      right: 15%;
    }
    100%{
      right:  10%;
    }
  }
  
  @keyframes damage02 {
    0%{
      left: 10%;
    }
    12%{
      left: 15%;
    }
    25%{
      left: 11%;
    }
    37%{
      left: 15%;
    }
    50%{
      left: 12%;
    }
    62%{
      left: 15%;
    }
    75%{
      left: 11%;
    }
    87%{
      left: 15%;
    }
    100%{
      left:  10%;
    }
  }
  
  .anim01 {  
    animation: damage01 1s infinite;
  }
  .anim02 {  
    animation: damage02 1s infinite;
  }
  .def01 {
    width: 250px;
    height: 280px;
    background: url(http://img4.wikia.nocookie.net/__cb20140423052739/ultimate-naruto/images/a/ad/Gaara-A.png) center/cover;
  }
  
  .def02 {
    width: 250px;
    height: 290px;
    background: url(http://img15.deviantart.net/6146/i/2013/091/f/9/sasuke_hebi_battle_damaged___lineart_colored_by_dennisstelly-d5vhwlt.png) center/cover;
  }
  
  .rock {
    background: url(http://www.pngimage.com/wp-content/uploads/2014/10/batu-kuning.png) center/cover;
    top: 0;
    transition: 1s;
    position: absolute;
    display: none;
  }
  
  .rock01{
    left: 17%;
    width: 100px;
    height: 100px;
  }
  .down01 {
    animation: down 0.45s linear infinite;  
  }
  .rock02{
    left: 27%;
    width: 30px;
    height: 40px;
  }
  .down02 {
    animation: down 0.4s linear infinite; 
  }
  .rock03{
    left: 30%;
    width: 60px;
    height: 70px;
  }
  .down03 {
    animation: down 0.3s linear infinite;
  }
  .rock04{
    left: 37%;
    width: 30px;
    height: 40px;
  }
  .down04 {
    animation: down 0.3s linear infinite;
  }
  .rock05{
    left: 35%;
    width: 20px;
    height: 20px;
  }
  .down05 {
    animation: down 0.5s linear infinite;
  }
  
  @keyframes down {
      0%{
      top: 0;
    }
    50%{
    top: 50%;
    }
    100%{
    top: 100%;
    transform: rotate(180deg)
    }
  }
  
  @keyframes cut {
      0%{
      top: 0;
    }
    50%{
    top: 50%;
    transform: rotate(360deg)
    
    }
    100%{
    top: 100%;
    transform: rotate(720deg)
    }
  }
  
  .sword {
    background: url(http://pre13.deviantart.net/b1d6/th/pre/i/2013/097/e/5/shuriken_by_f_m_alvarez-d60rt0w.png) center/cover;
    top: 0;
    transition: 1s;
    position: absolute;
    display: none;
  }
  
  .sword01{
    right: 17%;
    width: 80px;
    height: 80px;
  }
  .cut01 {
    animation: cut 0.45s linear infinite;  
  }
  .sword02{
    right: 27%;
    width: 50px;
    height: 50px;
  }
  .cut02 {
    animation: cut 0.5s linear infinite; 
  }
  .sword03{
    right: 30%;
    width: 60px;
    height: 60px;
  }
  .cut03 {
    animation: cut 0.6s linear infinite;
  }
  .sword04{
    right: 15%;
    width: 30px;
    height: 30px;
  }
  .cut04 {
    animation: cut 0.3s linear infinite;
  }
  .sword05{
    right: 25%;
    width: 40px;
    height: 40px;
  }
  .cut05 {
    animation: cut 0.5s linear infinite;
  }
  
  .music { display: none;}
  
  .wrapHealth { 
    border: solid 5px #464646;
    border-radius: 5px;
    width: 30%;
    height: 5vh;
    position: absolute;
    top: 5%;
    z-index: 96;}
  
  .wrapHealth01 {
    left: 10%;
  }
  
  .wrapHealth02 {
    right: 10%;
  }
  
  .health01, .health02 {
    width: 100%;
    height: 5vh;
    background: yellow;
  }
  
  .damage01 {
    width: 50%;
    background: red;
  }
  
  .damage02 {
    width: 0%;
    background: red;
  }
  
  .text01 {
    width: 300px;
    position: absolute;
    top: 20%;
    left: 35%;
    color: #fff;
    padding: 30px;
    background: #1d1f20;
    border: solid 10px #464646;
    border-radius: 10px;
    text-align: center;
    font-family: Consolas, monospace;
    animation: border 0.4s infinite;
  }
  
  .text01 span {
    color: red;
  }
  
  .border01 {
    animation: border 0.4s infinite;
  }
  
  @keyframes border {
    0%{
    border: solid 10px red;    
    }
    100%{
    border: solid 10px #464646;  
    }
  }
  
  .jin {
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 99;
    cursor: pointer;
  }
  
  .jin01 {
    top: 5%;
    right:5%;
    background: url(http://t00.deviantart.net/MIotiVPQHvn2TLo4suaZvLgs4Qo=/fit-in/150x150/filters:no_upscale%28%29:origin%28%29/pre02/8ceb/th/pre/f/2011/025/1/c/sunagakure_by_hidan_sama1408-d3809bj.png) center/cover;
  }
  
  .jin02 {
    top: 5%;
    left: 5%;
    background: url(http://orig03.deviantart.net/4ba8/f/2008/105/8/5/konoha_missing_nin_symbol_by_leo7th.png) center/cover;
  }
  .textB {
    width: 120px;
    height: 70px;
    z-index: 99;
    position: absolute;
    cursor: pointer;
  }
  .textB01 {
    top: 11%;
    left: 5%;
    background: url(http://www.userlogos.org/files/logos/Rog/Naruto_02.png) center/cover;
  }
  .textB02 {
    top: 11%;
    right: 5%;
    background: url(http://img06.deviantart.net/f71f/i/2012/302/b/b/authentic_naruto_logo__sakura_shippuden_by_dreamchaser21-d5je9yk.png) center/cover;
  }
  
  .cloud01 {
    width: 380px;
    height: 300px;
    position: absolute;
    bottom: 5%;
    left: 35%;
    display: none;
    cursor: pointer;
    z-index: 99;
    background: url(https://i.imgur.com/zR6rCug.png) center/cover;
  }
  
  .cloud02 {
    width: 380px;
    height: 300px;
    position: absolute;
    bottom: 5%;
    right: 30%;
    cursor: pointer;
    display: none;
    background: url(https://i.imgur.com/zR6rCug.png) center/cover;
  }
  
  .naruto{
    width: 180px;
    height: 400px;
    position: absolute;
    bottom: 5%;
    left: 40%;
    cursor: pointer;
    display: none;
    background: url(http://orig03.deviantart.net/76cf/f/2011/250/2/9/naruto_png_by_hidan_sama1408_2-d496rgi.png) center/cover;
  }
  
  .naruto01{
    width: 300px;
    height: 400px;
    position: absolute;
    bottom: 5%;
    left: 40%;
    display: none;
    background: url(http://img01.deviantart.net/d8c5/i/2013/109/e/f/naruto_rasengan_render_by_lwisf3rxd-d629924.png) left/cover;
  }
  
  .naruto02{
    width: 300px;
    height: 200px;
    position: absolute;
    bottom: 5%;
    left: 30%;
    display: none;
    transform: rotatey(180deg);
    background: url(http://orig15.deviantart.net/ed83/f/2012/050/6/0/naruto_uzumaki_by_xuzumaki-d4qb6uq.png) center/cover;
  }
  
  .naruto03{
    width: 300px;
    height: 250px;
    position: absolute;
    bottom: 15%;
    left: 25%;
    display: none;
    transform: rotatey(180deg);
    background: url(http://orig03.deviantart.net/b152/f/2012/050/8/e/naruto_sage_render_by_xuzumaki-d4qb55f.png) center/cover;
  }
  
  .sakura{
    width: 180px;
    height: 400px;
    position: absolute;
    bottom: 5%;
    right: 35%;
    cursor: pointer;
    display: none;
    background: url(http://www.freenarutowallpaper.com/wp-content/uploads/2014/12/sakura-haruno-00096-sakura-haruno-shippuden-full-body-by-freenarutowallpaper.com_.png) center/cover;
  }
  
  .star {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 15%;
    right: 35%;
    display: none;
    background: url(http://other00.deviantart.net/b52c/o/2014/107/7/a/ninja_star__commission__by_kitkatyj.png) center/cover;
  }
  
  .left01 {
    animation: left 0.2s linear infinite;
  }
  
  @keyframes left{
      0%{
    }
    100%{
      width: 300px;
      height: 300px;
    transform: rotate(180deg)
    }
  }
  